* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: #f1faee;
    color: #1d3557;
}

header {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid #e63946;
}

footer {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: #a8dadc;
}

section {
    max-width: 850px;
    margin: 25px auto;
    padding: 25px;
    background: white;
    border-left: 5px solid #e63946;
    border-radius: 10px;
}

h2 {
    color: #457b9d;
    border-bottom: 2px solid #a8dadc;
}

p, li {
    line-height: 1.6;
}

.button {
    background: #e63946;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #a8dadc;
}

th {
    background: #457b9d;
    color: white;
}